body {
  font-family: "Raleway", sans-serif;
  width: 100%;
  -webkit-overflow-scrolling: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: black;
}

/* HEADER SECTION */
.header {
  background-image: url(../img/cahee/img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 10%;
}

.header__logo {
  font-family: "Pacifico", cursive;
  font-size: 3rem;
  display: inline-block;
}

.header__nav {
  margin: 20px 0 0 0;
  float: right;
  text-align: right;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__nav-item {
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 20px;
  padding: 5px 0;
}

.header__nav-link {
  border-top: 3px solid transparent;
}

.header__nav-link:hover {
  border-top: 3px solid #ff5f33;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.header__nav-link:active {
  color: #06b2b2;
  cursor: pointer;
}

.header__nav-menu-btn {
  display: none;
  float: right;
}

.header__nav-menu-btn-bar {
  display: block;
  width: 40px;
  height: 4px;
  margin: 10px 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.header__text-btn-container {
  max-width: 360px;
}

.header__text-btn-container h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 200px 0 20px 0;
}

.header__text-btn-container p {
  line-height: 1.5;
  margin: 0 0 20px 0;
}

.header__text-btn-container button {
  font-size: 1rem;
  text-transform: uppercase;
  padding: 15px 20px;
  background-color: #ff5f33;
  border: none;
  color: white;
  margin: 0 0 400px 0;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.header__text-btn-container button:hover {
  background-color: #06b2b2;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.header__text-btn-container button:active {
  background-color: gray;
  cursor: pointer;
}

.scroll-icon {
  position: fixed;
  z-index: 1;
  bottom: 100px;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-animation: fade 1.5s linear alternate infinite;
          animation: fade 1.5s linear alternate infinite;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ABOUT SECTION */
.about {
  background-color: #06b2b2;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 50px 10%;
}

.about__img {
  max-width: 75%;
}

.about__text-container {
  max-width: 450px;
}

.about__text-container h2 {
  font-size: 4rem;
  font-weight: bold;
  color: white;
}

.about__text-container p {
  line-height: 1.5;
  color: white;
  margin: 10px 0 0 0;
}

/* OUR SERVICES SECTION */
.services {
  background-color: #70bfff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 50px;
}

.services__left-container {
  width: 450px;
}

.services__text-icon-container {
  margin: 0 0 15px 0;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  width: 320px;
  height: 70px;
  position: relative;
}

.services__text {
  background-color: white;
  margin: 0;
  padding: 27px;
  display: inline-block;
  width: 250px;
  height: 70px;
  text-align: center;
  font-weight: bold;
}

.services__icon {
  background-color: white;
  padding: 15px;
  margin: -28px -5px;
  height: 70px;
  width: 70px;
  border-left: 1px solid #bfbfbf;
}

.services__img {
  max-width: 100%;
}

.services h2 {
  font-size: 4rem;
  font-weight: bold;
  color: white;
  position: absolute;
}

.text-third {
  padding: 20px;
}

.icon-third {
  position: absolute;
  top: 28px;
  left: 254px;
}

.right-container {
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 20px 0;
}

/* GALLERY SECTION */
.gallery {
  background-color: #ffea2e;
  padding: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery h2 {
  color: #262626;
  padding: 50px 0 30px 0;
  font-size: 4rem;
  font-weight: bold;
}

.gallery p {
  line-height: 1.5;
  color: #262626;
  margin: 0 auto 30px auto;
  max-width: 600px;
  text-align: center;
}

.gallery__img-gallery {
  max-width: 1200px;
}

.gallery__img-gallery img {
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  float: left;
  margin: 15px;
  max-width: 100%;
}

.gallery__img-row {
  max-width: 1200px;
}

.gallery__btn {
  font-size: 1rem;
  text-transform: uppercase;
  padding: 15px 40px;
  background-color: #5483a0;
  border: none;
  color: white;
  margin: 20px auto 50px auto;
}

.gallery__btn:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

/* SUBSCRIBE SECTION */
.subscribe {
  width: 100%;
  height: 500px;
  background-image: url(../img/cahee/subscribe-bg.png);
  background-repeat: no-repeat;
  background-position: right top;
}

.subscribe__container {
  padding: 150px 10%;
}

.subscribe__container h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 0 10px 0;
  text-shadow: 1px 1px 1px white;
}

.subscribe__container p {
  line-height: 1.5;
  margin: 20px 0;
  max-width: 550px;
  text-shadow: 1px 1px 1px white;
}

.subscribe__container input {
  min-width: 300px;
  height: 40px;
  padding: 0 0 0 10px;
  margin: 0 20px 20px 0;
}

.subscribe__container button {
  font-size: 1rem;
  text-transform: uppercase;
  padding: 13px 30px;
  background-color: #96ba2c;
  border: none;
  color: white;
}

.subscribe__container button:hover {
  background-color: #5483a0;
  color: white;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.subscribe__bg {
  width: 100%;
  z-index: -1;
}

/* BLOG SECTION */
.blog {
  background-color: #b07ef7;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 50px 10%;
  color: #f2f2f2;
}

.blog h2 {
  font-size: 4rem;
  margin: 0 0 20px 0;
  font-weight: bold;
  text-align: center;
  max-width: 450px;
}

.blog p {
  font-size: 0.8rem;
  margin: 0 0 30px 0;
  line-height: 1.5;
  text-align: center;
  max-width: 450px;
}

.blog__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.blog__flex-item {
  width: 250px;
  height: 210px;
  margin: 20px;
  position: relative;
  z-index: 1;
  -webkit-filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.1)) drop-shadow(-1px 1px 5px rgba(0, 0, 0, 0.1)) drop-shadow(1px -1px 5px rgba(0, 0, 0, 0.1)) drop-shadow(-1px -1px 5px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.1)) drop-shadow(-1px 1px 5px rgba(0, 0, 0, 0.1)) drop-shadow(1px -1px 5px rgba(0, 0, 0, 0.1)) drop-shadow(-1px -1px 5px rgba(0, 0, 0, 0.1));
}

.blog__flex-item img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.blog__flex-item h3 {
  font-size: 0.8rem;
  font-weight: bold;
  margin: 20px 0 0 15px;
  max-width: 220px;
}

.blog__flex-item h3:hover ~ .blog__gradient {
  opacity: 0;
  cursor: pointer;
  -webkit-transition: 0.15s linear;
  -o-transition: 0.15s linear;
  transition: 0.15s linear;
}

.blog__date {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 2px;
  border-radius: 5px;
  height: 45px;
  width: 45px;
  font-weight: bold;
  margin: 20px 0 80px 20px;
  text-align: center;
}

.blog__date:hover ~ .blog__gradient {
  opacity: 0;
  cursor: pointer;
  -webkit-transition: 0.15s linear;
  -o-transition: 0.15s linear;
  transition: 0.15s linear;
}

.blog__date span {
  display: inline-block;
  font-size: 1.4rem;
}

.blog__date span:hover ~ .blog__gradient {
  opacity: 0;
  cursor: pointer;
  -webkit-transition: 0.15s linear;
  -o-transition: 0.15s linear;
  transition: 0.15s linear;
}

.blog__log {
  font-size: 0.6rem;
  margin: 15px 0 0 15px;
}

.blog__log:hover ~ .blog__gradient {
  opacity: 0;
  cursor: pointer;
  -webkit-transition: 0.15s linear;
  -o-transition: 0.15s linear;
  transition: 0.15s linear;
}

.blog__gradient {
  width: 250px;
  height: 210px;
  margin: 0 20px 20px 0;
  position: absolute;
  top: 0;
  z-index: -1;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(rgba(0, 0, 0, 0.75)));
  background: -webkit-linear-gradient(transparent 50%, rgba(0, 0, 0, 0.75) 100%);
  background: -o-linear-gradient(transparent 50%, rgba(0, 0, 0, 0.75) 100%);
  background: linear-gradient(transparent 50%, rgba(0, 0, 0, 0.75) 100%);
}

.blog__gradient:hover {
  opacity: 0;
  cursor: pointer;
  -webkit-transition: 0.15s linear;
  -o-transition: 0.15s linear;
  transition: 0.15s linear;
}

.blog__btn {
  background-color: #f72b3c;
  color: white;
  padding: 15px 30px;
  text-transform: uppercase;
  border: none;
  margin: 20px;
  -webkit-filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.1)) drop-shadow(-1px 1px 5px rgba(0, 0, 0, 0.1)) drop-shadow(1px -1px 5px rgba(0, 0, 0, 0.1)) drop-shadow(-1px -1px 5px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.1)) drop-shadow(-1px 1px 5px rgba(0, 0, 0, 0.1)) drop-shadow(1px -1px 5px rgba(0, 0, 0, 0.1)) drop-shadow(-1px -1px 5px rgba(0, 0, 0, 0.1));
}

.blog__btn:hover {
  cursor: pointer;
  background-color: #d32735;
  -webkit-transition: 0.15s linear;
  -o-transition: 0.15s linear;
  transition: 0.15s linear;
}

/* FOOTER SECTION */
.footer {
  background-image: url(../img/cahee/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__bg {
  width: 100%;
  position: absolute;
  z-index: -1;
}

.footer h2 {
  font-size: 4rem;
  font-weight: bold;
  color: #262626;
  text-align: center;
  padding: 60px 0 20px 0;
}

.footer__text {
  line-height: 1.5;
  color: #262626;
  margin: 0 auto 20px;
  text-align: center;
  max-width: 350px;
}

.footer__form-contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 330px;
  margin: 0 10px;
}

.footer input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.footer input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.footer input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.footer input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.footer input:focus {
  outline: none;
  border-left: 4px solid #355c82;
  background-color: #00c2c2;
}

.footer input:hover {
  border-left: 4px solid #355c82;
  background-color: #00c2c2;
}

.footer__contact-container :nth-child(odd) {
  font-weight: bold;
  margin: 0 10px;
}

.footer__contact-container :nth-child(even) {
  margin: 5px 10px 15px 10px;
}

.footer__copyright {
  width: 100%;
  height: auto;
  padding: 10px;
  background-color: #262626;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copyright :nth-child(2) {
  font-family: "Pacifico", cursive;
  font-size: 1.5rem;
}

.footer__copyright span {
  color: #ff2957;
  font-weight: bold;
}

.form__input-name,
.form__input-email,
.form__input-tel,
.form__input-msg {
  width: 100%;
  height: 40px;
  margin: 5px 0;
  background-color: rgba(0, 194, 194, 0.5);
  border: none;
  color: white;
  border-left: 4px solid transparent;
}

.form__submit-btn {
  margin: 5px 0 20px 0;
  width: 338px;
  height: 40px;
  background-color: rgba(0, 194, 194, 0.5);
  border: none;
  color: white;
}

.form__submit-btn:hover {
  cursor: pointer;
  background-color: #00c2c2;
}

.form__input-msg {
  height: 200px;
}

/* MEDIA QUERIES */
@media (max-width: 1000px) {
  .subscribe__bg {
    width: auto;
    height: 440px;
    float: right;
  }
  .header__nav {
    margin: 10px 0 0 0;
  }
  .header__nav-list {
    position: relative;
    top: -300px;
    left: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .header__nav-list.active {
    top: 45px;
    left: 40px;
  }
  .header__nav-item {
    margin: 0;
  }
  .header__nav-menu-btn {
    display: block;
    cursor: pointer;
  }
  .header__nav-menu-btn.active .header__nav-menu-btn-bar:nth-child(2) {
    opacity: 0;
  }
  .header__nav-menu-btn.active .header__nav-menu-btn-bar:nth-child(1) {
    -webkit-transform: translateY(14px) rotate(45deg);
        -ms-transform: translateY(14px) rotate(45deg);
            transform: translateY(14px) rotate(45deg);
  }
  .header__nav-menu-btn.active .header__nav-menu-btn-bar:nth-child(3) {
    -webkit-transform: translateY(-14px) rotate(-45deg);
        -ms-transform: translateY(-14px) rotate(-45deg);
            transform: translateY(-14px) rotate(-45deg);
  }
  .header__text-btn-container {
    max-width: 300px;
  }
  .about {
    padding: 50px;
  }
  .about__text-container h2 {
    font-size: 3rem;
  }
}

@media (max-width: 901px) {
  .gallery__img-gallery img {
    margin: 10px 0;
  }
}

@media (max-width: 1483px) {
  .gallery__img-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 625px) {
  .footer__copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__copyright p {
    margin: 5px 0;
  }
}

@media (min-width: 1483px) {
  .subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
