body {
  font-family: "Raleway", sans-serif;
  width: 100%;
  -webkit-overflow-scrolling: none;
}

body::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* HEADER SECTION */

.header__bg {
  position: relative;
  width: 100%;
}

.header__logo {
  font-family: "Pacifico", cursive;
  color: hsl(0, 0%, 15%);
  font-size: 3rem;
  position: absolute;
  top: 50px;
  left: 10%;
}

.header__nav {
  position: absolute;
  top: 70px;
  right: 10%;
}

.header__nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.header__nav ul li {
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 20px;
  padding: 5px 0;
  border-top: 3px solid transparent;
}

.header__nav ul li:hover {
  border-top: 3px solid hsl(13, 100%, 60%);
  cursor: pointer;
  transition: 0.3s linear;
}

.header__nav ul li:active {
  color: hsl(13, 100%, 60%);
  cursor: pointer;
}

.header__text-btn-container {
  position: absolute;
  top: 300px;
  left: 10%;
  max-width: 360px;
}

.header__text-btn-container h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.header__text-btn-container p {
  line-height: 1.5;
  margin: 0 0 20px 0;
}

.header__text-btn-container button {
  font-size: 1rem;
  text-transform: uppercase;
  padding: 15px 20px;
  background-color: hsl(13, 100%, 60%);
  border: none;
  color: white;
}

.header__text-btn-container button:hover {
  background-color: hsl(180, 94%, 36%);
  cursor: pointer;
  transition: 0.3s linear;
}

.header__text-btn-container button:active {
  background-color: hsl(0, 0%, 50%);
  cursor: pointer;
}

.scroll-icon {
  position: fixed;
  bottom: 100px;
  left: 50%;
  animation: fade 1.5s linear alternate infinite;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ABOUT SECTION */

.about {
  background-color: hsl(180, 94%, 36%);
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: -60px;
  padding: 100px;
}

.about__img {
  max-width: 75%;
}

.about__text-container {
  max-width: 450px;
}

.about__text-container h2 {
  font-size: 4rem;
  font-weight: bold;
  color: white;
}

.about__text-container p {
  line-height: 1.5;
  color: white;
  margin: 10px 0 0 0;
}

/* FOOTER SECTION */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.footer__bg {
  width: 100%;
  position: absolute;
  z-index: -1;
}

.footer h2 {
  font-size: 4rem;
  font-weight: bold;
  color: hsl(0, 0%, 15%);
  text-align: center;
  padding: 60px 0 20px 0;
}

.footer__text {
  line-height: 1.5;
  color: hsl(0, 0%, 15%);
  margin: 0 auto 20px;
  text-align: center;
  max-width: 350px;
}

.footer__form-contact-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.footer__form {
  max-width: 350px;
}

.form input::placeholder {
  color: hsla(0, 0%, 100%, 0.5);
}

.form input:focus {
  outline: none;
  border-left: 4px solid hsl(210, 42%, 36%);
  background-color: hsla(180, 100%, 38%);
}

.form input:hover {
  border-left: 4px solid hsl(210, 42%, 36%);
  background-color: hsla(180, 100%, 38%);
}

.form__input-name,
.form__input-email,
.form__input-tel,
.form__input-msg {
  width: 350px;
  height: 40px;
  margin: 5px 0;
  background-color: hsla(180, 100%, 38%, 0.5);
  border: none;
  color: hsl(0, 0%, 100%);
  padding: 0 0 0 10px;
  border-left: 4px solid transparent;
}

.form__input-msg {
  height: 200px;
}

.footer__contact-container :nth-child(odd) {
  font-weight: bold;
}

.footer__contact-container :nth-child(even) {
  margin: 5px 0 15px 0;
}

.footer__copyright {
  width: 100%;
  height: 70px;
  background-color: hsl(0, 0%, 15%);
  color: hsl(0, 0%, 100%);

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.footer__copyright :nth-child(2) {
  font-family: "Pacifico", cursive;
  font-size: 1.5rem;
}

.footer__copyright span {
  color: hsl(347, 100%, 58%);
  font-weight: bold;
}

.form__submit-btn {
  margin: 5px 0 20px 0;
  padding: 10px 167px;
  background-color: hsla(180, 100%, 38%, 0.5);
  border: none;
  color: hsl(0, 0%, 100%);
}

.form__submit-btn:hover {
  cursor: pointer;
  background-color: hsla(180, 100%, 38%);
}

/* MEDIA QUERIES */

@media (max-width: 960px) {
  .header__bg {
    width: auto;
    height: 640px;
    float: right;
  }
  .header__nav ul {
    flex-direction: column;
    align-items: flex-end;
  }
  .header__text-btn-container {
    max-width: 300px;
  }
  .about {
    padding: 50px;
  }
  .about__text-container h2 {
    font-size: 3rem;
  }

  .footer__form-contact-container {
    flex-direction: column;
    align-items: center;
  }
  .footer__contact-container {
    margin-top: 20px;
  }
  .footer__copyright {
    flex-direction: column;
    height: 100px;
  }
}

@media (max-width: 1185px) {
  .footer__bg {
    float: left;
    height: 950px;
    width: auto;
  }
}
