body {
  font-family: "Raleway", sans-serif;
  width: 100%;
  -webkit-overflow-scrolling: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: #e6e6e6;
}

/* HEADER SECTION */
.header-section {
  width: 100%;
  height: 100vh;
  background-image: url(../img/dark-theme-resp-menu/20210808_DSCF9743_b.png);
  background-position: right;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #0a0a0a;
  padding: 5% 10%;
}

.header-section__nav-menu-btn {
  display: none;
  float: right;
  cursor: pointer;
  margin: 0 0 5px 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header-section__nav-menu-btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header-section__nav-menu-btn:hover .header-section__nav-menu-btn-dot {
  background-color: #393e46;
}

.header-section__nav-menu-btn-dot {
  width: 6px;
  height: 6px;
  margin: 2px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #e6e6e6;
}

.header-section__nav-menu-btn-x {
  display: none;
  float: right;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header-section__nav-menu-btn-x:hover {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.header-section__nav-menu-btn-x:hover .header-section__nav-menu-btn-x-bar {
  background-color: #393e46;
}

.header-section__nav-menu-btn-x-bar {
  width: 40px;
  height: 4px;
  margin: 5px 0 5px 10px;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #e6e6e6;
}

.header-section__nav-menu-btn-x-bar:nth-child(1) {
  -webkit-transform: translateY(5px) rotate(45deg);
          transform: translateY(5px) rotate(45deg);
}

.header-section__nav-menu-btn-x-bar:nth-child(2) {
  -webkit-transform: translateY(-5px) rotate(-45deg);
          transform: translateY(-5px) rotate(-45deg);
}

.header-section__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header-section__nav-item {
  text-transform: capitalize;
  margin: 0 5px;
}

.header-section__nav-item a {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: #e6e6e6;
}

.header-section__nav-item:nth-child(1) :hover {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  color: #f38181;
}

.header-section__nav-item:nth-child(2) :hover {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  color: #fce388;
}

.header-section__nav-item:nth-child(3) :hover {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  color: #94e1d3;
}

.header-section__text-container {
  position: relative;
  color: #e6e6e6;
}

.header-section__title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 4rem;
  margin: 20% 5px 30px 5px;
  cursor: default;
}

.header-section__title span {
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  color: #e6e6e6;
}

.header-section__title span:hover {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  color: #393e46;
}

.header-section__text {
  max-width: 310px;
  margin: 0 5px;
  cursor: default;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  color: #e6e6e6;
}

.header-section__text:hover {
  font-size: 1.7rem;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  color: #eaffd1;
}

@media (max-width: 768px) {
  .header-section {
    background-image: url(../img/dark-theme-resp-menu/20210808_DSCF9743_b_square.png);
    background-position: center 80%;
    background-size: 80%;
    background-repeat: no-repeat;
    background-color: #0a0a0a;
  }
  .header-section__nav-list {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header-section__text-container {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .header-section {
    background-image: url(../img/dark-theme-resp-menu/20210808_DSCF9743_b_square.png);
    background-size: 100%;
    padding: 5%;
  }
  .header-section__nav-menu-btn {
    display: inline-block;
  }
  .header-section__nav-menu-btn_active {
    display: none;
  }
  .header-section__nav-menu-btn-x_active {
    display: inline-block;
  }
  .header-section__nav-list {
    visibility: hidden;
    opacity: 0;
  }
  .header-section__nav-list_active {
    visibility: visible;
    opacity: 1;
  }
  .header-section__title {
    margin: 30% 5px 30px 5px;
  }
}
