:root {
  --clr-greyL: hsl(200, 16%, 96%);
  --clr-greyD: hsl(204, 17%, 88%);
  --clr-orange: hsl(14, 100%, 67%);
  --clr-blueL: hsl(218, 64%, 41%);
  --clr-blueD: hsl(204, 64%, 19%);
  --clr-dark: hsl(212, 51%, 15%);
}

@font-face {
  font-family: Avenir Next;
  src: url(../font/AvenirNextLTPro-Regular.otf),
    url(../font/AvenirNextLTPro-Bold.otf), url(../font/AvenirNextLTPro-It.otf);
}

/* FONTS STYLING */

.clr-blueL-bold-text {
  color: var(--clr-blueL);
  font-weight: bold;
}

.clr-dark-bold-text {
  color: var(--clr-dark);
  font-weight: bold;
  font-size: 2.5rem;
  margin: 10px 0 0 0;
}

.clr-dark-regular-text {
  color: var(--clr-dark);
  line-height: 1.5;
  margin: 10px 0 0 0;
  font-size: 0.9rem;
}

/* BUTTONS STYLING*/

.btn {
  padding: 15px 30px;
  color: var(--clr-greyL);
  font-weight: bold;
  margin: 20px 0 0 0;
  border: 1px solid transparent;
  width: 300px;
}

.btn:hover {
  cursor: pointer;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}

body {
  font-family: Avenir Next;
}

body::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

header {
  background-color: var(--clr-greyL);
  padding: 20px 50px;
  position: sticky;
  top: 0;
}

@media (max-width: 375px) {
  header {
    padding: 5px 50px;
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav ul {
  margin: 0 20px;
  font-weight: bold;
  font-size: 0.875rem;
  padding: 10px;
}

@media (max-width: 375px) {
  .header__nav ul {
    padding: 5px;
  }
}

.header__nav ul:hover {
  background-color: var(--clr-orange);
  cursor: pointer;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  color: var(--clr-greyL);
}

.section-1 {
  background-color: var(--clr-greyL);
  padding: 20px 40px;
}

.header__wrapper,
.section-1__wrapper {
  margin: 0 auto;
  max-width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media (max-width: 375px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.section-1__left-side {
  max-width: 420px;
}

.section-1__left-side button {
  background-color: var(--clr-orange);
  margin: 20px 0 0 0;
}

.section-1__left-side button:hover {
  background-color: var(--clr-blueL);
}

.section-1__left-side button:active {
  background-color: var(--clr-greyL);
  -webkit-transition: 0.1s linear;
  -o-transition: 0.1s linear;
  transition: 0.1s linear;
  color: var(--clr-dark);
  border: 1px solid var(--clr-dark);
}

.section-1__wrapper img {
  max-width: 100%;
  margin: 50px 0 75px 0;
}

.section-2 {
  padding: 20px 40px;
  margin: 30px 0;
}

.section-2__wrapper {
  margin: 0 auto;
  max-width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.section-2__wrapper h2 {
  font-size: 2rem;
  font-weight: normal;
  text-align: center;
}

.theme-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin: 20px 0;
}

.theme {
  max-width: 300px;
  text-align: center;
  margin: 20px 0;
}

.theme img {
  height: 50px;
  margin: 10px;
}

.theme div {
  color: var(--clr-dark);
  font-weight: bold;
}

.section-3 {
  background-color: var(--clr-greyL);
  padding: 30px 40px;
}

.section-3__wrapper {
  margin: 0 auto;
  max-width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.section-3__stat-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  width: 100%;
}

@media (max-width: 375px) {
  .section-3__stat-container {
    text-align: center;
  }
}

.stat {
  max-width: 400px;
  margin: 20px;
}

.stat .clr-dark-bold-text {
  font-weight: normal;
  margin: 0 0 10px 0;
}

.stat .clr-dark-bold-text span {
  color: var(--clr-orange);
}

.section-4 {
  padding: 30px 40px;
}

.section-4__wrapper {
  margin: 0 auto;
  max-width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.section-4__about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.about-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 20px 0;
}

.about-text-container p {
  margin: 20px;
}

.p-width-1 {
  max-width: 300px;
}

.p-width-1 p:nth-child(1) {
  font-style: italic;
}

.p-width-2 {
  max-width: 470px;
}

.section-4__about-container img {
  max-width: 80%;
}

@media (max-width: 375px) {
  .section-4__about-container img {
    max-width: 100%;
  }
}

hr {
  max-width: 1100px;
  border: 2px solid --clr-greyD;
}

.section-5 {
  padding: 30px 40px 0 40px;
}

.section-5__wrapper {
  margin: 0 auto;
  max-width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.section-5__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

@media (max-width: 375px) {
  .section-5__container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.section-5__container img {
  max-width: 50%;
  margin: 40px 0 0 0;
}

@media (max-width: 375px) {
  .section-5__container img {
    max-width: 100%;
  }
}

.section-5__container ul {
  font-weight: bold;
  line-height: 2;
  font-size: 0.9rem;
}

@media (max-width: 375px) {
  .section-5__container ul {
    line-height: 1.5;
    font-size: 0.8rem;
  }
}

.section-5__container ul li svg {
  margin: 0 10px 0 0;
}

.section-5__text-container {
  max-width: 440px;
}

.section-5__text-container h2 {
  max-width: 300px;
}

.section-5__text-container p {
  margin: 20px 0;
}

.section-6 {
  background-color: var(--clr-orange);
  padding: 75px 40px;
}

.section-6__wrapper {
  margin: 0 auto;
  max-width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.section-6__container {
  max-width: 700px;
  text-align: center;
}

.section-6__container div,
.section-6__container h2,
.section-6__container p {
  color: var(--clr-greyL);
}

.section-6__container button {
  background-color: var(--clr-blueL);
  -webkit-filter: drop-shadow(1px 10px 10px hsla(0, 0%, 0%, 0.5));
  filter: drop-shadow(1px 10px 10px hsla(0, 0%, 0%, 0.5));
}

.section-6__container button:hover {
  background-color: var(--clr-greyL);
  color: var(--clr-dark);
}

.section-6__container button:active {
  background-color: var(--clr-dark);
  color: var(--clr-greyL);
}

.section-7 {
  background-color: var(--clr-blueD);
  padding: 75px 40px;
}

.section-7__wrapper {
  margin: 0 auto;
  max-width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.section-7__container {
  max-width: 300px;
  text-align: center;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: var(--clr-greyL);
}

form h3 {
  color: var(--clr-greyL);
  font-size: 1.5rem;
  margin: 20px 0;
}

form label {
  text-align: left;
  margin: 5px 0;
  font-size: 0.8rem;
}

form input {
  background-color: var(--clr-blueD);
  border: none;
  border-bottom: 1px solid var(--clr-greyD);
  opacity: 0.5;
  height: 20px;
  margin: 10px 0;
  color: var(--clr-greyL);
}

form input[name="msg"] {
  height: 50px;
}

form .btn {
  background-color: var(--clr-orange);
}

form .btn:hover {
  background-color: var(--clr-blueL);
}

form .btn:active {
  background-color: var(--clr-greyL);
  -webkit-transition: 0.1s linear;
  -o-transition: 0.1s linear;
  transition: 0.1s linear;
  color: var(--clr-dark);
  border: 1px solid var(--clr-dark);
}

footer {
  background-color: var(--clr-dark);
  padding: 10px 40px;
  color: var(--clr-greyL);
  font-size: 0.7rem;
}

.footer__wrapper {
  margin: 0 auto;
  max-width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer__container {
  max-width: 300px;
  text-align: center;
}
