@font-face {
  font-family: "Bebas Neue";
  src: url("../font/bebas_neue/BebasNeue-Regular.otf") format("otf"), url("../font/bebas_neue/BebasNeue-Thin.otf") format("otf"), url("../font/bebas_neue/BebasNeue-Bold.otf") format("otf");
  font-family: "Roboto";
  src: url("../font/roboto/Roboto-Light.ttf") format("truetype");
}

@-webkit-keyframes card-icon-text-bg-slide {
  0% {
    -webkit-transform: translateY(320px);
            transform: translateY(320px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes card-icon-text-bg-slide {
  0% {
    -webkit-transform: translateY(320px);
            transform: translateY(320px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes card-icon-rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}

@keyframes card-icon-rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}

@-webkit-keyframes card-p-flag-show {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes card-p-flag-show {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes card-p-icon-glow {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes card-p-icon-glow {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

html,
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
  cursor: default;
}

.pricing-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: #998bf9;
}

.pricing-section__card-container {
  position: relative;
  width: 290px;
  height: 480px;
  margin: 10px;
  background-color: #f6f5fa;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.pricing-section__card-container:hover .pricing-section__card-icon-text-bg {
  -webkit-animation: card-icon-text-bg-slide 0.5s ease-in-out;
          animation: card-icon-text-bg-slide 0.5s ease-in-out;
}

.pricing-section__card-container:hover .pricing-section__card-icon {
  -webkit-animation: card-icon-rotate 0.8s ease-in-out;
          animation: card-icon-rotate 0.8s ease-in-out;
}

.pricing-section__card-container_middle {
  width: 310px;
  height: 550px;
}

.pricing-section__card-container_middle:hover .pricing-section__card-bottom-bg_middle p {
  color: #3b4040;
  font-weight: 500;
}

.pricing-section__card-container_middle:hover .pricing-section__card-p-flag {
  visibility: visible;
  -webkit-animation: card-p-flag-show 0.2s ease-in-out;
          animation: card-p-flag-show 0.2s ease-in-out;
}

.pricing-section__card-wrapper {
  position: relative;
  overflow: hidden;
  width: 290px;
  height: 480px;
  padding: 10px;
}

.pricing-section__card-wrapper_middle {
  width: 310px;
  height: 550px;
  padding: 20px;
}

.pricing-section__card-price {
  font-family: "Bebas Neue";
  font-weight: 100;
  font-size: 3rem;
  letter-spacing: 4px;
  margin: 10px 0;
}

.pricing-section__card-price::before {
  content: "$";
  font-size: 1.5rem;
  position: absolute;
  top: 25px;
  left: 114px;
}

.pricing-section__card-price::after {
  content: "/HR";
  font-size: 1rem;
  position: absolute;
  top: 48px;
  left: 165px;
}

.pricing-section__card-price_middle::before {
  top: 33px;
  left: 123px;
}

.pricing-section__card-price_middle::after {
  content: "/HR";
  font-size: 1rem;
  position: absolute;
  top: 58px;
  left: 175px;
}

.pricing-section__card-title {
  font-family: "Bebas Neue";
  font-weight: 600;
  font-size: 1.3rem;
  letter-spacing: 1px;
  margin: 10px 0;
}

.pricing-section__card-icon-text-container {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 2;
  width: 50%;
}

.pricing-section__card-icon-text-bg {
  position: absolute;
  top: 120px;
  left: -105px;
  z-index: 1;
  width: 500px;
  height: 700px;
  background-color: white;
  border-radius: 50%;
}

.pricing-section__card-icon-text-bg_middle {
  top: 130px;
  left: -90px;
}

.pricing-section__card-icon {
  font-size: 1.5rem;
  margin: 40px 0 20px 0;
}

.pricing-section__card-icon_middle {
  font-size: 2rem;
}

.pricing-section__card-list {
  font-family: "Roboto";
  font-weight: 300;
  line-height: 2.5;
  text-align: left;
  width: 100%;
}

.pricing-section__card-bottom-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 290px;
  height: 50px;
  background-color: #f6f5fa;
}

.pricing-section__card-bottom-bg_middle {
  width: 310px;
  height: 80px;
}

.pricing-section__card-bottom-bg_middle p {
  font-family: "Roboto";
  font-size: 0.6rem;
  line-height: 10;
  color: #a8a8a8;
}

.pricing-section__card-btn {
  position: absolute;
  bottom: -25px;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 2;
  width: 180px;
  height: 50px;
  background-color: #6fcffb;
  border: none;
  border-radius: 40px;
  font-family: "Bebas Neue";
  color: white;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.pricing-section__card-btn:hover {
  background-color: #3b4040;
  cursor: pointer;
}

.pricing-section__card-btn_middle {
  bottom: 55px;
  background-color: #fd8e7c;
}

.pricing-section__card-p-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #fd8e7c;
  border-radius: 50%;
  padding: 11px;
  font-family: "Bebas Neue";
  font-size: 1.3rem;
  font-weight: 400;
  color: white;
  -webkit-animation: card-p-icon-glow 1s linear infinite alternate;
          animation: card-p-icon-glow 1s linear infinite alternate;
}

.pricing-section__card-p-icon::before {
  content: "";
  position: absolute;
  top: -13px;
  right: -13px;
  width: 5px;
  height: 5px;
  background-color: #fd8e7c;
  border-radius: 50%;
}

.pricing-section__card-p-icon::after {
  content: "";
  position: absolute;
  top: -7px;
  right: -7px;
  width: 12px;
  height: 12px;
  background-color: #fd8e7c;
  border-radius: 50%;
}

.pricing-section__card-p-flag {
  visibility: hidden;
  position: absolute;
  top: 27px;
  right: -80px;
  z-index: 3;
  background-color: #3b4040;
  border-radius: 15px;
  padding: 5px 20px;
  font-family: "Bebas Neue";
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
}

.pricing-section__card-p-flag::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -3px;
  width: 5px;
  height: 5px;
  border-top: 5px solid #3b4040;
  border-left: 5px solid #3b4040;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
