body {
  background-color: hsl(180, 21%, 92%);
}

/* MODAL CONTAINER */

.modal {
  font-family: Quicksand, sans-serif;
  margin: 50px auto;
  width: 500px;
  height: 600px;
  position: relative;
  overflow: hidden;
  padding: 70px 93px;
  background: linear-gradient(
    58deg,
    hsla(246, 67%, 41%, 0.9),
    hsla(292, 57%, 64%, 0.9)
  );
  box-shadow: 0 15px 50px black;
}

.modal__btn-sign-in,
.modal__btn-join-us {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid transparent;
  font-size: 1.5rem;
  color: hsl(259, 16%, 76%);
  font-weight: bold;
  padding: 5px 0;
  margin: 0 20px 0 0;
}

.modal__btn-sign-in:hover,
.modal__btn-join-us:hover {
  color: hsl(47, 74%, 94%);
  cursor: pointer;
  border-bottom: 3px solid hsl(3, 72%, 65%);
}

/* SIGN IN & JOIN US FORMS */

.sign-in-form,
.join-us-form {
  width: 100%;
  height: 100%;
}

.sign-in-form__bg,
.join-us-form__bg {
  width: 200%;
  position: absolute;
  top: 0;
  left: -70px;
  z-index: -1;
}

.sign-in-form__label-username,
.sign-in-form__label-password,
.sign-in-form__label-checkbox,
.join-us-form__label-username,
.join-us-form__label-password,
.join-us-form__label-password-rep {
  display: block;
  font-size: 1.125rem;
  color: hsl(47, 74%, 94%);
  font-weight: bold;
  padding: 10px 0;
  margin: 20px 0 0 0;
}

.modal__sign-in-form input,
.modal__join-us-form input {
  background-color: transparent;
  border: 2px solid hsl(259, 16%, 76%);
  width: 300px;
  height: 45px;
  color: hsl(47, 74%, 94%);
  padding: 0 0 0 10px;
  font-size: 1rem;
}

.modal__sign-in-form input:hover,
.modal__join-us-form input:hover {
  border: 2px solid hsl(3, 72%, 65%);
}

.modal__sign-in-form input:focus,
.modal__join-us-form input:focus {
  outline: none;
  border: 2px solid hsl(168, 67%, 41%);
}

.modal__sign-in-form input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.sign-in-form__label-checkbox {
  margin: 20px 0 0 30px;
}

.sign-in-form__checkbox {
  position: absolute;
  top: 353px;
  height: 21px;
  width: 21px;
  background-color: hsl(259, 16%, 76%);
}

.sign-in-form__label-checkbox:hover ~ .sign-in-form__checkbox {
  background-color: hsl(3, 72%, 65%);
}

.sign-in-form__checkbox:hover {
  background-color: hsl(3, 72%, 65%);
}

.sign-in-form__checkbox:after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid hsl(47, 74%, 94%);
  border-radius: 3px;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal__sign-in-form
  input[type="checkbox"]:checked
  ~ .sign-in-form__checkbox:after {
  display: block;
  transition: all 0.2s ease-in;
}

.modal__sign-in-form input[type="checkbox"]:checked ~ .sign-in-form__checkbox {
  background-color: hsl(168, 67%, 41%);
}

.sign-in-form__btn-submit,
.join-us-form__btn-submit {
  width: 100%;
  height: 45px;
  background-color: hsl(168, 67%, 41%);
  border: none;
  font-family: Quicksand, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: hsl(47, 74%, 94%);
  margin: 50px 0;
  cursor: pointer;
}

.sign-in-form__btn-submit:hover,
.join-us-form__btn-submit:hover {
  background-color: hsl(3, 72%, 65%);
}

.sign-in-form__btn-forgot,
.sign-in-form__btn-create {
  background-color: transparent;
  border: none;
  color: hsl(259, 16%, 76%);
  font-size: 1rem;
  border-bottom: 1px dotted transparent;
  font-family: Quicksand, sans-serif;
}

.sign-in-form__btn-forgot {
  margin: 0 24px 0 0;
}

.sign-in-form__btn-forgot:hover,
.sign-in-form__btn-create:hover {
  color: hsl(47, 74%, 94%);
  border-bottom: 1px dotted hsl(47, 74%, 94%);
  cursor: pointer;
}
