@media (max-width: 960px) {
  .subscribe__bg {
    width: auto;
    height: 440px;
    float: right;
  }
  .header__nav ul {
    flex-direction: column;
    align-items: flex-end;
  }
  .header__text-btn-container {
    max-width: 300px;
  }
  .about {
    padding: 50px;

    &__text-container h2 {
      font-size: 3rem;
    }
  }
}

@media (max-width: 901px) {
  .gallery__img-gallery img {
    margin: 10px 0;
  }
}

@media (max-width: 1483px) {
  .gallery__img-row {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 625px) {
  .footer__copyright {
    flex-direction: column;
    align-items: center;

    & p {
      margin: 5px 0;
    }
  }
}

@media (min-width: 1483px) {
  .subscribe {
    display: flex;
    justify-content: center;
  }
}
