$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

@media screen and (max-width: $lg) {
  .pricing-section {
    &__card-container {
      margin: 20px;

      &_middle {
        order: -1;
        width: 620px;
        height: 420px;
      }
    }

    &__card-wrapper_middle {
      width: 620px;
      height: 420px;
    }

    &__card-price {
      &_middle::before {
        top: 33px;
        left: 280px;
      }

      &_middle::after {
        top: 58px;
        left: 330px;
      }
    }

    &__card-icon-text-container_middle {
      width: 70%;
    }

    &__card-icon-text-bg_middle {
      width: 800px;

      @keyframes card-icon-text-bg-slide {
        0% {
          transform: translateY(350px);
        }
        100% {
          transform: translateY(0);
        }
      }
    }

    &__card-list_middle {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: left;

      & li {
        margin: 0 20px;
      }
    }

    &__card-bottom-bg {
      width: 620px;
    }
  }
}

@media screen and (max-width: $md) {
  .pricing-section {
    padding: 50px;

    &__card-container {
      margin: 20px;

      &_middle {
        order: -1;
        width: 310px;
        height: 550px;
      }
    }

    &__card-wrapper_middle {
      width: 310px;
      height: 550px;
    }

    &__card-price {
      &_middle::before {
        top: 34px;
        left: 124px;
      }

      &_middle::after {
        top: 58px;
        left: 175px;
      }
    }

    &__card-icon-text-container_middle {
      width: 65%;
    }

    &__card-icon-text-bg_middle {
      width: 500px;

      @keyframes card-icon-text-bg-slide {
        0% {
          transform: translateY(320px);
        }
        100% {
          transform: translateY(0);
        }
      }
    }

    &__card-list_middle {
      display: block;
    }

    &__card-bottom-bg {
      width: 310px;
    }

    &__card-p-flag {
      top: -10px;
      right: 65px;

      &::before {
        top: 16px;
        left: 80px;
        transform: rotate(180deg);
      }
    }
  }
}
