@font-face {
  font-family: "Bebas Neue";
  src: url("../font/bebas_neue/BebasNeue-Regular.otf") format("otf"),
    url("../font/bebas_neue/BebasNeue-Thin.otf") format("otf"),
    url("../font/bebas_neue/BebasNeue-Bold.otf") format("otf");
  font-family: "Roboto";
  src: url("../font/roboto/Roboto-Light.ttf") format("truetype");
}

@import "_pricing-animations.scss";

html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  cursor: default;
}

.pricing-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: hsl(248, 90%, 76%);

  &__card-container {
    position: relative;
    width: 290px;
    height: 480px;
    margin: 10px;
    background-color: hsl(252, 29%, 97%);
    box-shadow: 0px 0px 20px hsla(0, 0%, 0%, 0.2);

    &:hover .pricing-section__card-icon-text-bg {
      animation: card-icon-text-bg-slide 0.5s ease-in-out;
    }

    &:hover .pricing-section__card-icon {
      animation: card-icon-rotate 0.8s ease-in-out;
    }

    &_middle {
      width: 310px;
      height: 550px;

      &:hover .pricing-section__card-bottom-bg_middle p {
        color: hsl(180, 4%, 24%);
        font-weight: 500;
      }

      &:hover .pricing-section__card-p-flag {
        visibility: visible;
        animation: card-p-flag-show 0.2s ease-in-out;
      }
    }
  }

  &__card-wrapper {
    position: relative;
    overflow: hidden;
    width: 290px;
    height: 480px;
    padding: 10px;

    &_middle {
      width: 310px;
      height: 550px;
      padding: 20px;
    }
  }

  &__card-price {
    font-family: "Bebas Neue";
    font-weight: 100;
    font-size: 3rem;
    letter-spacing: 4px;
    margin: 10px 0;

    &::before {
      content: "$";
      font-size: 1.5rem;
      position: absolute;
      top: 25px;
      left: 114px;
    }

    &::after {
      content: "/HR";
      font-size: 1rem;
      position: absolute;
      top: 48px;
      left: 165px;
    }

    &_middle::before {
      top: 33px;
      left: 123px;
    }

    &_middle::after {
      content: "/HR";
      font-size: 1rem;
      position: absolute;
      top: 58px;
      left: 175px;
    }
  }

  &__card-title {
    font-family: "Bebas Neue";
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: 1px;
    margin: 10px 0;
  }

  &__card-icon-text-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
    width: 50%;
  }

  &__card-icon-text-bg {
    position: absolute;
    top: 120px;
    left: -105px;
    z-index: 1;
    width: 500px;
    height: 700px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 50%;

    &_middle {
      top: 130px;
      left: -90px;
    }
  }

  &__card-icon {
    font-size: 1.5rem;
    margin: 40px 0 20px 0;

    &_middle {
      font-size: 2rem;
    }
  }

  &__card-list {
    font-family: "Roboto";
    font-weight: 300;
    line-height: 2.5;
    text-align: left;
    width: 100%;
  }

  &__card-bottom-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 290px;
    height: 50px;
    background-color: hsl(252, 29%, 97%);

    &_middle {
      width: 310px;
      height: 80px;

      & p {
        font-family: "Roboto";
        font-size: 0.6rem;
        line-height: 10;
        color: hsl(0, 0%, 66%);
      }
    }
  }

  &__card-btn {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
    width: 180px;
    height: 50px;
    background-color: hsl(199, 95%, 71%);
    border: none;
    border-radius: 40px;
    font-family: "Bebas Neue";
    color: hsl(0, 0%, 100%);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: hsl(180, 4%, 24%);
      cursor: pointer;
    }

    &_middle {
      bottom: 55px;
      background-color: hsl(8, 97%, 74%);
    }
  }

  &__card-p-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: hsl(8, 97%, 74%);
    border-radius: 50%;
    padding: 11px;
    font-family: "Bebas Neue";
    font-size: 1.3rem;
    font-weight: 400;
    color: white;
    animation: card-p-icon-glow 1s linear infinite alternate;

    &::before {
      content: "";
      position: absolute;
      top: -13px;
      right: -13px;
      width: 5px;
      height: 5px;
      background-color: hsl(8, 97%, 74%);
      border-radius: 50%;
    }

    &::after {
      content: "";
      position: absolute;
      top: -7px;
      right: -7px;
      width: 12px;
      height: 12px;
      background-color: hsl(8, 97%, 74%);
      border-radius: 50%;
    }
  }

  &__card-p-flag {
    visibility: hidden;
    position: absolute;
    top: 27px;
    right: -80px;
    z-index: 3;
    background-color: hsl(180, 4%, 24%);
    border-radius: 15px;
    padding: 5px 20px;
    font-family: "Bebas Neue";
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
    color: hsl(0, 0%, 100%);

    &::before {
      content: "";
      position: absolute;
      top: 8px;
      left: -3px;
      width: 5px;
      height: 5px;
      border-top: 5px solid hsl(180, 4%, 24%);
      border-left: 5px solid hsl(180, 4%, 24%);
      transform: rotate(-45deg);
    }
  }
}
